# -*- mode: ruby -*-
# vi: set ft=ruby :

JsonSchemaCliTools.proxy_configure do
  <%- routes.each do |r| -%>
  <%= "##{r[0]}" %> '<%= r[1] %>', static: 'path/to/<%= r[2] %>-<%= r[0] %>.json'
  <%- end -%>
  #any '(.*)', proxy: 'http://localhost:8080/'
end
